@layer base {
    h1, .h1 {
        font-size: var(--text-8xl);
        line-height: 6rem;
        color: var(--color-primary-500);
        font-weight: var(--font-weight-bold);
    }

    h2, .h2 {
        font-size: var(--text-8xl);
        line-height: 6rem;
        color: var(--color-gray-500);
        font-weight: var(--font-weight-bold);
    }

    h3, .h3 {
        font-size: var(--text-7xl);
        line-height: 6rem;
        color: var(--color-gray-500);
        font-weight: var(--font-weight-bold);
    }

    p {
        font-size: var(--text-xl);
        font-weight: var(--font-weight-normal);
        color: var(--color-gray-500);
    }

    img {
        border-width: 5px;
        border-color: var(--color-gray-900);
        border-radius: 40px;
    }

    .blackdayz-primary-shadow {
        box-shadow: 4px 4px 0px var(--color-primary-500);
        transition: all 0.1s ease-in-out;

        &:hover {
            box-shadow: 10px 10px 0px var(--color-primary-500);
            transform: translate(-2px, -2px);
        }
    }

    .blackdayz-secondary-shadow {
        box-shadow: 5px 2px 0 var(--color-red-100);

        &:hover {
            box-shadow: 5px 5px 0px var(--color-gray-500);
            transform: translate(-2px, -2px);
        }
    }


}