@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
    --font-sans: 'Kanit', sans-serif;

    --color-primary-100: #fcf6e6;
    --color-primary-200: #f5e4b4;
    --color-primary-300: #efd281;
    --color-primary-400: #e9c04f;
    --color-primary-500: #E7BB41;
    --color-primary-600: #e2ae1d;
    --color-primary-700: #b08716;
    --color-primary-800: #7e6110;
    --color-primary-900: #4b3a0a;

    --color-gray-100: #f0f1f2;
    --color-gray-200: #d2d5d7;
    --color-gray-300: #b4b9bd;
    --color-gray-400: #959da2;
    --color-gray-500: #393E41;
    --color-gray-600: #778288;
    --color-gray-700: #5d656a;
    --color-gray-800: #42484b;
    --color-gray-900: #0d0e0f;

    --color-accent-50: #FFFFFF;
    --color-accent-100: #FFFFFF;
    --color-accent-200: #FFFFFF;
    --color-accent-300: #F8F8F7;
    --color-accent-400: #E6E4E1;
    --color-accent-500: #D3D0CB;
    --color-accent-600: #B9B5AD;
    --color-accent-700: #A0998E;
    --color-accent-800: #857D71;
    --color-accent-900: #676157;
    --color-accent-950: #58524A;

    --color-background-50: #FFFFFF;
    --color-background-100: #FFFFFF;
    --color-background-200: #FFFFFF;
    --color-background-300: #FFFFFF;
    --color-background-400: #F8F8F6;
    --color-background-500: #E7E5DF;
    --color-background-600: #CFCBBF;
    --color-background-700: #B7B19F;
    --color-background-800: #9F977F;
    --color-background-900: #837B62;
    --color-background-950: #736C56;

    --text-8xl: 6rem;
}
